* {
	font-family: serif;
	
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
	background: linear-gradient(to bottom, white, black);
}

h1 {
	color: blue;
}

#quoc {
	font-size: 30px;
	text-align: center;
}

.Cena {
	display: block;
	height: 100px;
	width: 300px;

	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;

	border-width: 2px;
	border-color: black;

	background-color: #f2e58e;
	padding-top: 5px;
	padding-left: 5px;

	font-size: 20px;
}

button {
	display: block;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: pink;
	height: 50px;
	width: 300px;
}

button:hover {
	background-color: red;
	font-weight: bold;
	font-size: 30px;
}